@import url('https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap');

.about{
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.about__header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 5vh;
}
.about__header h1{
  margin-bottom: 30px;
  font-size: 35px;
}
.about__area{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}
.about__desc{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(101.58deg, #F3F5FB 2.73%, #B6B9CB 53.15%, #261D42 117.24%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 20px;
  max-width: 50vw;
  margin-right: 30px;
  border-bottom: 0.25px solid black;
  border-right: 0.25px solid black;
}
.about__item{
  color: #000;
  margin-left: 40px;
  line-height: 1.4;
  margin: 10px 0px;
}
.about__item h2{
  position:relative;
  z-index: 2;
  margin-bottom: 5px;
  font-size: 2rem;
  font-weight: 800;
  width: fit-content;
  font-family: 'Ribeye Marrow', cursive;
  mix-blend-mode: normal;
  box-sizing: border-box;
  transform: rotate(-3.04deg);
}
/* .about__item h2:before{
  content:"";
  z-index:-1;
  left:-0.5em;
  top:0.1em;
  border-width:0.5em;
  border-style:solid;
  border-color:rgba(255, 38, 0, 0.589);
  position:absolute;
  width:calc(100% - 0.5em);
  border-left-color:transparent;
}
.about__item h2:after{
  content:"";
  z-index:-1;
  right:0;
  top:0.1em;
  border-width:0.5em;
  border-style:solid;
  border-color:rgba(255, 38, 0, 0.589);
  position:absolute;
  border-top-color:transparent;
  border-bottom-color:transparent;
  border-left-color:transparent;
  transform:rotate(180deg);
  transform-origin:center right;
} */
.about__item p{
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 10px;
}

.about__body{
  display: flex;
}
.about__left{
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media(max-width: 1160px){
  .contact__info{
    font-size: 1rem;
    font-weight: 500;
  }
  .about__area{
    flex-direction: column;
  }
}
@media(max-width: 850px){
  .about__body{
    flex-direction: column;
  }
  .about__contact, .education{
    width: 80%;
  }
  .about__right{
    margin-top: 30px;
  }
  .about__title{
    font-size: smaller;
  }
  .skillbar, .skillbar span{
    height: 12px;
  }
  .about__desc{
    max-width: 80vw;
    margin: auto;
  }
  .about__item{
    margin-left: 10px;
  }
  .about__item h2{
    font-size: 1.5rem;
    font-weight: 500;
  }
  .about__img{
    margin-bottom: 10px;
  }
  .about__img2{
    margin-top: 20px;
  }
}
@media(max-width: 600px){
  .contact__info{
    flex-direction: column;
    font-size: 1rem;
  }
  .contact__img{
    margin: auto;
  }
}
@media(max-width: 425px){
  .hobbies__list{
    flex-direction: column;
  }
  
}