@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
.theme-button{
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  z-index: 15;
}
/* .app__body{
  background: rgb(250,244,245);
  background: linear-gradient(180deg, rgba(250,244,245,1) 4%, rgba(153,187,187,1) 45%, rgba(103,179,214,1) 76%, rgba(43,143,201,1) 99%);
  
} */
/* .app-body{
  background: rgb(1,13,32);
  background: linear-gradient(180deg, rgba(1,13,32,1) 9%, rgba(4,25,57,1) 38%, rgba(20,61,115,1) 83%, rgba(33,85,153,1) 99%);
} */
.app__header{
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.intro-line1{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.intro-line2{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.intro-line2 h1{
  font-size: 90px;
  margin-left: 10px;
}
.app__intro{
  display: flex;
  flex-direction: column;
  background-image: url('./backgrounds/portfolio-bg-dark.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  margin-top: -80px;
  padding-bottom: 10vh;
  color: #fff;
}
.light-bg{
  background-image: url('./backgrounds/portfolio-bg-light.webp');
  color: rgb(15, 6, 0);
}
.app__intro__body{
  display: flex;
}
.app__intro-light{
  background-image: url('https://i.pinimg.com/originals/74/43/a3/7443a31b6a19e5630b94a6538ff9bdd1.gif');
  background-repeat: repeat;
  background-size: auto;
}
.intro__left{
  margin-top: 20vh;
  flex: 1;
  /* color: rgb(255, 255, 255); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.intro__left h1{
  font-family: 'Righteous', cursive;
  text-align: center;
  text-shadow: 1px 1px 5px 1px rgb(1, 8, 20);
}
.intro__left p{
  font-weight: 600;
}
.intro__details{
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.intro__right{
  flex: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro__desc{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  word-spacing: 3px;
  line-height: 1.6;
  text-align: center;
  font-family: 'Caveat', cursive;
}
.intro__img{
  width: 400px;
  object-fit: contain;
  margin: auto;
  margin-top: 20px;
}
/* 
.about__section{
  background: #0a0a0a8c;
}
.skills__section{
  background: #250d3b77;
}
.projects__section{
  background: #0a0a0a8c;
}
.contact__section{
  background: #250d3b77;
  bottom: 0;
} */

.toTop{
  position: sticky;
  left: 10px;
  bottom: 5%;
  /* background: rgba(255, 255, 255, 0.11); */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  margin-bottom: -20px;
}
.toTopIcon{
  font-size: 25px;
  color: #fff;
  animation: jumping 0.5s ease infinite;
}
.toTop:hover{
  opacity: 0.5;
  transform: scale(0.9);
}
.bottom-icon{
  color: #fff;
  position: absolute;
  bottom: 20px;
  left: 50%;
  animation: jumping .5s ease infinite;
  opacity: 0;
  z-index: 1;
}
.visible{
  opacity: 0.75;
}
::-webkit-scrollbar{
  width: 8px !important;
  background: rgb(3,15,41);
  background: linear-gradient(180deg, rgba(3,15,41,1) 0%, rgba(21,4,46,1) 65%);
} 
/* Track */
::-webkit-scrollbar-track {
  background: rgb(3,15,41);
  background: linear-gradient(180deg, rgba(3,15,41,1) 0%, rgba(21,4,46,1) 65%);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(107, 50, 199);
  background: linear-gradient(180deg, rgb(127, 46, 202) 0%, rgb(50, 94, 214) 46%, rgba(8,156,255,1) 100%);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(142, 115, 163);
}
@keyframes jumping{
  from{
    transform: translateY(0.5px);
  }
  to{
    transform: translateY(0px);
  }
}
.light{
  color: rgb(18, 18, 19);
}

@media(max-width: 768px){
  .app__intro{
    flex-direction: column;
  }
  .intro__img{
    width: 300px;
    margin-top: 20px;
  }
  
}
@media(max-width: 450px){
  .app__switch{
    transform: translate(-80vw, 20%);
  }
  .intro__details, .intro__left{
    transform: scale(0.8);
  }
  .intro__left{
    max-width: 100%;
  }
  .intro__details{
    margin-top: -50px;
  }
}
