.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: #fff;
  width: 100%;
  overflow: hidden;
  padding-bottom: 15px;
}
.footer__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.footer__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding-bottom: 10px;
}
.icon-footer {
  margin-right: 10px;
  margin-left: 10px;
  color: #fff;
}
.icon-footer:hover {
  animation: jump 1s ease-in-out infinite;
  color: rgb(28, 187, 192);
  transform: scale(1.2);
}
