@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&display=swap');
.project{
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
  color: #fff;
  padding-bottom: 10vh;
  max-width: 80vw;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.project__container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin-top: 20px;
  color: #fff;
}
.project__item{
  height: 500px;
  width: 500px;
  padding: 20px;
  background-color: rgba(144, 78, 206, 0.712);
  box-shadow: 2px 2px 2px 0px rgba(216, 216, 219, 0.932);
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.project__item:nth-of-type(even){
  background-color: rgba(70, 201, 162, 0.815);
  color: black;
  box-shadow: 2px 2px 2px 0px  rgba(224, 224, 228, 0.932);
}

.project__container a{
  text-decoration: none;
}
.project__info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project__title{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: 'Cinzel Decorative', cursive;
}
.project__title h1{
  margin-right: 10px;
}
.project__desc{
  line-height: 1.5;
}
.project__desc > p{
  margin-top: 5px;
  margin-bottom: 10px;
}
.project__img{
  width: 200px;
  object-fit: cover;
  margin: auto;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 8px 0px rgb(22, 6, 95);
}
.project__item:nth-of-type(even) .project__img{
  box-shadow: 0px 0px 8px 0px rgb(3, 68, 43);
}
.gh-icon-project{
  color: #fff;
}
.project__item:nth-of-type(even) .gh-icon-project{
  color: black;
}
.gh-icon-project:hover{
  color: black;
  transform: scale(1.3);
}
.project__item:nth-of-type(even) .gh-icon-project:hover{
  color: #fff;
}

@media (max-width: 990px){
  .project__container{
    flex-direction: column;
    width: 80%;
  }
  .project__item{
    margin-bottom: 20px;
    width: 90%;
  }
  
}
@media(max-width: 768px){
  .project__title h1, .project__item h1{
    font-size: 1.5rem;
  }
}